{% extends 'base.html' %}
	{% load static from staticfiles %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'home/css/style.min.css' %}" />
	{% endblock %}

	{% block title %}Blog | Austin Bailey{% endblock %}

	{% block content %}
		<div class="row" id="blog">
			<div class="overlay">
				<div class="col-3-4 col-centered">
					<h1 class="text-white text-center">Hot off the <span class="red">press</span></h1>
				</div>
			</div>
		</div>
		{% if articles %}
			{% for article in articles %}
				<div class="row m-t-5 m-b-5">
					<div class="col-2-3 col-centered">
						<a class="blog-img" href="{% url 'blog:article' article.title|slugify %}" style="background: url({{ article.image.url }}) center; background-size: cover;">
						</a>
						<a class="blog-title red p-t-2" href="{% url 'blog:article' article.title|slugify %}">{{ article.title }}</a>
						<p class="p-b-2">{{ article.published }} - <span class="red">{{ article.author }}</span></p>
						<p class="p-b-2">{{ article.content|truncatechars:255|removetags:"p"|safe }}</p>
						<a href="{% url 'blog:article' article.title|slugify %}" class="read-more">Read more</a>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="row p-t-5 p-b-5">
				<h1 class="text-center">There are no articles yet. Check back soon!</h1>
			</div>
		{% endif %}
	{% endblock %}

	{% block javascript %}
		<script src="{% static 'home/js/home.min.js' %}"></script>
	{% endblock %}