{% extends 'base.html' %}
	{% load static from staticfiles %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'home/css/style.min.css' %}" />
	{% endblock %}

	{% block title %}{{ article.title }} | Austin Bailey{% endblock %}
	{% block metaog %}
		<meta property="og:image" content="{{ article.image.url }}" />
		<meta property="og:title" content="{{ article.title }}" />
		<meta property="og:type" content="article" />
    	<meta property="og:description" content="{{ article.content|truncatewords:50 }}" />
    {% endblock %}

	{% block content %}
		<div class="row" id="post-img" style="background: url({{ article.image.url }}) center; background-size: cover;"></div>
		<div class="row p-t-2 p-b-2">
			<div class="col-2-3 col-centered article-content">
				<h1 class="red">{{ article.title }}</h1>
				<h3 class="p-b-5">{{ article.published }} - <span class="red">{{ article.author }}</span></h3>
				{{ article.content|safe }}
			</div>
		</div>
	{% endblock %}

	{% block javascript %}
		<script src="{% static 'home/js/home.min.js' %}"></script>
	{% endblock %}