<!DOCTYPE html>
	{% load static from staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width">

		{% block stylesheets %}
		{% endblock %}

		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.min.css" />
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,700|Oxygen:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="apple-touch-icon" sizes="57x57" href="{% static 'home/i/apple-touch-icon-57x57.png' %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'home/i/apple-touch-icon-60x60.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'home/i/apple-touch-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'home/i/apple-touch-icon-76x76.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'home/i/apple-touch-icon-114x114.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'home/i/apple-touch-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'home/i/apple-touch-icon-144x144.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'home/i/apple-touch-icon-152x152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'home/i/apple-touch-icon-180x180.png' %}">
		<link rel="icon" type="image/png" href="{% static 'home/i/favicon-32x32.png' %}" sizes="32x32">
		<link rel="icon" type="image/png" href="{% static 'home/i/android-chrome-192x192.png' %}" sizes="192x192">
		<link rel="icon" type="image/png" href="{% static 'home/i/favicon-96x96.png' %}" sizes="96x96">
		<link rel="icon" type="image/png" href="{% static 'home/i/favicon-16x16.png' %}" sizes="16x16">

		<link rel="stylesheet" href="{% static 'home/css/base.min.css' %}" />
		<!--[if lt IE 9]>
		    <script src="{% static 'welcome/js/html5shiv-printshiv.min.js' %}"></script>
		<![endif]-->

		<title>{% block title %}{% endblock %}</title>
		{% block metaog %}
	    	<meta name="description" content="Inbound Marketing Rockstar | Austin Bailey" />
	    {% endblock %}
	</head>
	<body>
		<div class="spinner-container">
			<div class="spinner">
			  <div class="dot1"></div>
			  <div class="dot2"></div>
			</div>
		</div>
		<header>
			<div class="row">
				<div class="container no-pad">
					<div class="col-nav col-centered no-pad">
						<a href="{% url 'home:index' %}" class="navbar-logo">AB</a>
						<a href="#" class="pull-right" id="collapsed">&#x2261;</a>
						<nav class="navbar-collapsable right-menu pull-right">
							<ul class="menu-links">
								<li><a href="{% url 'home:what' %}">What I Do</a></li>
								<li><a href="{% url 'home:who' %}">Who I Am</a></li>
								<li><a href="{% url 'blog:index' %}">Blog</a></li>
								<li><a href="{% url 'home:contact' %}">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

			{% block content %}
			{% endblock %}
		
		<footer class="red-row p-t-5 p-b-5">
			<div class="container clearfix">
				<div class="col-2-3 col-centered">
					<a href="/" class="footer-logo p-b-2">AB</a>
					<p class="text-white text-center p-b-2">&copy; 2015 Austin Bailey</p>
					<a class="footer-mailto" href="mailto:austin@austinbailey.rocks">austin@austinbailey.rocks</a>
					<nav>
						<ul class="footer-social clearfix">
							<li><a href="https://twitter.com/theaustinbailey"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/austbailey"><i class="fa fa-facebook-f"></i></a></li>
							<li><a href="https://instagram.com/theaustinbailey"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://plus.google.com/102153233690271136674"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="https://www.linkedin.com/pub/austin-bailey/59/25b/336"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

		{% block javascript %}
		{% endblock %}

	</body>
</html>