
{% extends 'base.html' %}
	{% load static from staticfiles %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'home/css/style.min.css' %}" />
	{% endblock %}

	{% block title %}Work With Me | Austin Bailey{% endblock %}

	{% block content %}
		<div class="row" id="contact">
			<div class="overlay">
				<div class="col-3-4 col-centered">
					<h1 class="text-white text-center">Let me help you take <span class="red">your business</span> to the <span class="red">next level</span></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="container clearfix">
				<div class="col-2-3 p-t-2 p-b-2 col-centered">
					<h2 class="workwme">Work with me</h2>
					<form action="{% url 'home:lead' %}" method="post">
						{% csrf_token %}
						{{ form }}
						<input type="submit" name="contact_submit" class="submit" value="Get In Touch"/>
					</form>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block javascript %}
		<script src="{% static 'home/js/home.min.js' %}"></script>
	{% endblock %}