{% extends 'base.html' %}
	{% load static from staticfiles %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'home/css/style.min.css' %}" />
	{% endblock %}

	{% block title %}Inbound Marketing Rockstar | Austin Bailey{% endblock %}

	{% block content %}
		{% if messages %}
			<div class="thanks-container">
				<div class="container clearfix">
					<div class="col-1-1 col-centered">
						{% for message in messages %}
							<h1 class="text-center text-white">{{ message }}</h1>
						{% endfor %}
						<a href="#close" class="text-white" id="thanks-close">close</a>
					</div>
				</div>
			</div>
		{% endif %}
		{% if not lead %}
			{% if cta %}
				<div class="cta-container" id="{{ cta.title|slugify }}">
					<div class="container clearfix">
						<div class="col-1-1 col-centered">
							<h1 class="text-center text-white">{{ cta.title }}</h1>
							{{ cta.text|safe }}
							<form action="{% url 'home:lead' %}" method="post" id="cta-form">
								{% csrf_token %}
								{% for field in cta_form %}
									{{ field.label_tag }}
									{{ field }}
								{% endfor %}
								<input type="submit" name="cta_submit" class="submit" value="{{ cta.button_text }}"/>
							</form>
							<a href="#close-cta" class="text-white" id="cta-close">close</a>
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}

		<div class="row" id="big-frnt">
			<div class="overlay">
				<div class="col-3-4 col-centered">
					<h1 class="text-white text-center">Beautiful, data driven websites optimized to convert <span class="red">strangers</span> into <span class="red">customers</span></h1>
				</div>
			</div>
		</div>
		<div class="red-row" id="get-to-know-me">
			<div class="col-3-4 col-centered p-t-5 p-b-5">
				{% if home_desc %}
					<h1 class="text-center text-white">{{ home_desc.title }}</h1>
					<p class="text-center text-white">{{ home_desc.text|safe|removetags:"p" }}</p>
				{% else %}
					<h1 class="text-center text-white">The Difference</h1>
					<p class="text-center text-white">In an information-driven world, people go online now more than ever to conduct their own research before they decide to buy. How is your website working for you if it doesn't capture and engage these visitors to convert them into customers? The answer: <b>it's not</b>. I use various methods of inbound marketing to help you turn these strangers into brand advocates.</p>
				{% endif %}
			</div>
		</div>
		<div class="row" id="why-it-matters">
			<div class="container p-t-5 p-b-5 clearfix" id="i-can-help">
				<h1 class="text-center truly">The Methods I Use</h1>
				{% if services %}
					{% for service in services %}
						<div class="col-1-3 p-t-5 method">
							<div class="method-img" style="background: url({{ service.thumb.url }}) center; background-size: cover; border-radius: 50%;"></div>
							<h2 class="method-title red">{{ service.title }}</h2>
							<p class="method-info">{{ service.home_text|safe|removetags:"p" }}</p>
							<a class="read-more" href="{% url 'home:what' %}">Learn More</a>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="row" id="how-i-work">
			<div class="overlay">
				<div class="container p-t-5 p-b-5 clearfix" id="how-container">
					<h1 class="text-center truly text-white">How I Work</h1>
					<div class="col-1-3 p-t-5">
						<h1 class="how p-b-5 text-center">Discovery</h1>
						<p class="text-center">The process starts with digging into your company's background and researching your niche. I work closely with you to determine who your ideal customer is and what your business' persona is. By looking through best practices, case studies, product research and and investigating your competitors, I build a baseline knowledge on your industry and am able to identify what makes you unique.</p>
					</div>
					<div class="col-1-3 p-t-5">
						<h1 class="how p-b-5 text-center">Platform</h1>
						<p class="text-center">You need a platform - a foundation from which you can market and communicate to your target audience. A great product or an exceptional service is no longer enough in the age of everything viral. From day one, my goal is to develop a platform for you to develop the platform necessary to empower your brand and grow your business.</p>
					</div>
					<div class="col-1-3 p-t-5">
						<h1 class="how p-b-5 text-center">Application</h1>
						<p class="text-center">My aim is to be an indespinsible assett to your company over the lifetime of your brand. By applying various inbound techniques consistenly over time, I help increase your conversion rates which in turn help to close more deals. I also work with you directly to implement new inbound marketing campaigns and create new profitable opportunities for your business.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="container clearfix">
				<div class="col-2-3 p-t-2 p-b-2 col-centered">
					<h2 class="workwme">Work with me</h2>
					<form action="{% url 'home:lead' %}" method="post">
						{% csrf_token %}
						{{ form }}
						<input type="submit" name="contact_submit" class="submit" value="Get In Touch"/>
					</form>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block javascript %}
		<script src="{% static 'home/js/home.min.js' %}"></script>
	{% endblock %}