{% extends 'base.html' %}
	{% load static from staticfiles %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'home/css/style.min.css' %}" />
	{% endblock %}

	{% block title %}What I Do | Austin Bailey{% endblock %}

	{% block content %}
		<div class="row" id="what">
			<div class="overlay">
				<div class="col-3-4 col-centered">
					<h1 class="text-white text-center">I work with you to turn your <span class="red">company</span> into a local industry <span class="red">leader</span></h1>
				</div>
			</div>
		</div>
		<div class="row m-t-5 m-b-5">
			<div class="container clearfix">
				{% if services %}
					{% for service in services %}
						<div class="col-1-3">
							<a class="service-link" data-target="{{ service.id }}" href="#{{ service.title|slugify }}">
								<div class="service-img" style="background: url({{ service.image.url }}) center; background-size: cover;">
									<div class="overlay"></div>
								</div>
							</a>
							<div class="row service-desc-brief" id="{{ service.id }}">
								<h2 class="service-title p-t-5 p-b-2">{{ service.title_full }}</h2>
								<a href="#{{ service.title|slugify }}" data-target="{{ service.id }}" class="service-learn">Learn more</a>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div id="stop"></div>
		{% if services %}
			{% for service in services %}
				<div class="row service-full" id="{{ service.title|slugify }}">
					<div class="col-1-3 service-img-lg" style="background: url({{ service.image.url }}); background-size: cover;"></div>
					<div class="col-2-3">
						<div class="fs-container clearfix">
							<h1 class="fs-service-title">{{ service.title_full }}</h1>
							{{ service.description|safe }}
							<a href="{% url 'home:contact' %}" class="cta-btn-inverse cta-btn-large">Get In Touch</a>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endblock %}

	{% block javascript %}
		<script src="{% static 'home/js/home.min.js' %}"></script>
	{% endblock %}