{% extends 'base.html' %}
	{% load static from staticfiles %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'home/css/style.min.css' %}" />
	{% endblock %}

	{% block title %}Who I Am | Austin Bailey{% endblock %}

	{% block content %}
		<div class="row" id="who">
			<div class="overlay">
				<div class="container clearfix" id="who-container">
					<div class="col-3-4 p-b-10 col-centered" id="who-container">
						<h1 class="text-white text-center">I'm Austin Bailey, your digital <span class="red">guru</span> and inbound marketing <span class="red">rockstar</span></h1>
						<p class="p-t-5">I'm an entrepreneurial, self-taught full stack web developer with a deep passion for learning new things. I'm 22 years old and have been learning various technologies since I was 15. I've worked with various technology companies and have experience implementing different online marketing techniques. I love to help others succeed, whether it be in business or in life. I'm an outspoken, creative individual that comes up with new, unique ideas for the people I work with daily. I'm honest, have a positive outlook on life, ambitious, and very attentive to everyone I meet.</p>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block javascript %}
		<script src="{% static 'home/js/home.min.js' %}"></script>
	{% endblock %}